.clock{
    border : solid white 40px;
    padding: 50px;
    border-radius: 300px;
    height: 300px;
    width: 300px;
    margin-top: 170px;
    box-shadow: 0px 0px 100px rgba(0,0,0,1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body{
    background-image: url(https://unsplash.it/1500/1000?image=881&blur=5);;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand{
    border: solid black 3px;
    color: black;
    position: absolute;
    transform-origin: 100%;
    border-radius: 100px;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.31, 2.49, 0.01, 2.4);
}

.second{
    width: 180px;
    left : 15px;
}

.minute{
    width: 150px;
    left: 45px;
}

.hour{
    width: 100px;
    right: 200px;
}

.dot{
    border: solid black 10px;
    border-radius: 100px;
}

